*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(146, 231, 238);
    background-position: center;
}


  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


.hero{
    height: 100vh;
    width: 100%;

}
.pics img{
    width: 300px;
    height: 300px;
    padding: 10px;

}

.pics{
    margin-top: 60px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
}

.pics p{
    display: flex;
    justify-content: center;
    padding-right: 14%;
    font-family: 'Roboto'
}

.footer{
    background-color: black;
    bottom: 0;
}

.socialicons{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.socialicons i{
    padding: 100px;
    background-color: rgba(135, 141, 135, 0.562);
    margin: 30px;
    border-radius: 50%;
}

.footernav{
    display: flex;
    justify-content: center;
}

.footernav span{
    padding: 60px;
}

#title{
    height: 10vh;
    background-color: aliceblue;
    font-size: 50px;
    text-align: center;
}